cryptography==41.0.3
rpds-py==0.9.2
jinja2
jsonschema
lightkube
lightkube-models
ops
pydantic<2.0
ops.interface_tls_certificates @ git+https://github.com/charmed-kubernetes/interface-tls-certificates.git@da891c403864482688ec767a964218e5857f0e49#subdirectory=ops
