cryptography==46.0.3
jinja2==3.1.6
jsonschema==4.26.0
lightkube>=0.10.1,<1.0.0
ops==3.5.0
pydantic==1.10.26
ops.interface_tls_certificates @ git+https://github.com/charmed-kubernetes/interface-tls-certificates.git@236e089493c96feac5ea1a8617b1059a4477a04e#subdirectory=ops
